[Unit]
Description=Mount Intuition Engine IESHARE partition
After=local-fs-pre.target
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ie-grow-share.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
